Repository Fewinfos/github-repo-readme-stats, pull requests merged in 2025-08, with the labels that each got.

#74 workflow test
  .github/labeler.yml
  .github/workflows/label-pr.yml
  README.md
  REQUIREMENTS.md
Labels: docs, workflows

#136 #135 added the workflow file
  .github/workflows/assign-reviewer.yml
Labels: enhancement, workflows

#139 Update readme_ko.md
  docs/readme_ko.md
Labels: docs

#159 Update WELCOME.md
  WELCOME.md
Labels: docs

#116 Add Japanese translation of README fixes #82
  docs/readme_jp.md
Labels: docs

#117 Hindi translation of README file - fixes #86
  docs/readme_hi.md
Labels: docs

#129 Added docs folder and spanish readme file - fixes #81 and #83
  readme_es.md
Labels: docs

#130 Added docs folder and chinese readme file - fixes #81 and #84
  readme_zh.md
Labels: docs

#164 Rename readme_zh.md to docs/readme_zh.md
  docs/readme_zh.md
Labels: docs
